body {
	background-image:url(faro.jpg);
	background-attachment: fixed;	
	}
h3{
	
	color: red;
	font-size: 20px;
	font-family: Calibri;
	font-style: italic;	
}
h1 {
	color: black;
	font-size: 30px;
}